body{
	background-color:#f8f8f8;
}

/* .header-top */

.header-top{
	margin:0;
	background-color:#fff;
	border-bottom:1px solid #eee;
	min-height:20px;
	border-radius:0;
	border:0;
}
.header-top .nav li a{
	padding:10px;
	line-height:14px;
	font-size:14px;
}

/* .header-nav */

.header-nav{
	background-color:#fff;
	border-radius:0px;
	box-shadow:0 2px 2px 1px #eee;
}
.header-nav .nav > li > a{
	padding:20px 15px;
}
.header-nav .navbar-brand{
	padding:20px 15px;
}

/* color */

.header-top{
	background-color: #A71E1E;
}
.header-nav .navbar-brand{
	color:#A71E1E;
}


.header-top .nav li a{
	color:#fff;
}

.header-nav{
	background-color:#fff;
	box-shadow:0 2px 2px 1px #eee;

}

/* Footer */

.footer{
	background-color: #F2F1EB;
	box-shadow:0 0 2px 1px #ccc;
}

/* .footer-top and .footer-info */
.footer-top{	
	padding:30px 0;
}
.footer-top h5{
	color:#A71E1E;
	font-weight:bold;
}
.footer-top .nav li a{
	padding:1px 0px;
	font-size:13px;
	color:#2c3132;
}
.footer-top ul{
	margin:0;
	padding:0;
}

/* .footer-social */

.footer-social i{
	padding:0 5px;
}
/* .footer-bottom */
.footer-bottom{
	text-align: center;
	padding:20px 0;
	background-color: #A71E1E;
	color:#eee;
	box-shadow: 0 0 1px 1px #000;
}
.footer-bottom p{
	margin:0;
}
.footer-bottom a{
	text-decoration: underline;
	color:#fff;
}
