{% extends 'base.html' %}

{% block title %} {{article.title}} {% endblock %}
{% block head %}
	<meta name='description' content='{{article.title}}'/>
{% endblock %}

{% block body %}
<article>
<h2>{{article.title}}</h2>
<h5>By: {{article.author}} | Published On {{article.pub_date}}</h5>
<p>
{{article_content.markup_content}}

<br /><br />
{% for i in article.tag.all %} {{i}} {% endfor %}
</p>
</article>

<section>
<h3>Comment:</h3>
{% if formerror %}
<span>{{formerror}}</span>
{% endif %}
<form class='form' action='.' method='POST'>{% csrf_token %}
<ul>
	{{c_form.as_ul}}
</ul>
<input type='submit' value='Comment'/>
</form>
</section>

<section class='comments'>
{% if article_comment %}
<h4>Comments:</h4>
<ul>
{% for comment in article_comment %}
	<li>{{comment.content}} - {{comment.user.username}}</li>
{% endfor %}
</ul>
{% endif %}
</section>
{% endblock %}