{% extends 'evo/admission/base.html' %}
{% block admission_body %}
<section class='da-wrapper'>
<section class='container'>

<section class='da-wrapper'>
<section class='container'>
<nav class='admission-nav'>
	<ol class="breadcrumb">
		<li><a href="{% url 'admission_basic' %}">Basic Details</a></li>
		<li><a href="{% url 'admission_address' %}">Addresses</a></li>
		<li><a href="{% url 'admission_qualifications' %}">Qualification Details</a></li>
		<li><a href="{% url 'admission_uploads' %}">Uploads</a></li>
		<li><a href="{% url 'admission_terms' %}">Terms and Condition</a></li>
		<li><a href="{% url 'admission_final_submission' %}">Final Submission</a></li>
	</ol>
</nav>


<!-- .admission-form -->
{% block admission_body_form %}

<section class='admission-form'>

<section class='panel panel-default'>
	<hgroup class='panel-heading'>
		<span class='admission-form-icon'>
			<i class='fa fa-user-circle'></i>
		</span>
		<span class='admission-form-heading'>Welcome To Admission Panel</span>
		<span class='admission-form-heading'>{{user.username}} ({{course.title}}) </span>
	</hgroup>
	<article class='panel-body'>
		<h3>Your Admission Status: </h3>
	</article>
	<table class='table'>
		<thead>
			<tr>
				<th>#</th>
				<th>Page </th>
				<th>Status</th>
			<tr>
		</thead>
		<tbody>
			<tr>
				<th class='scope'>1.</th>
				<td>Basic Details</td>
				<td>
					{% if user.admissionstatus.basic %}
						<a href="{% url 'admission_basic' %}">Completed</a>
					{% else %}
						Not Completed
					{% endif %}
				</td>
			<tr>
			<tr>
				<th class='scope'>2.</th>
				<td>Addresses</td>
				<td>
					{% if user.admissionstatus.address %}
						<a href="{% url 'admission_address' %}">Completed</a>
					{% else %}
						Not Completed
					{% endif %}
				</td>
			<tr>
			<tr>
				<th class='scope'>3.</th>
				<td>Qualification Details</td>
				<td>
					{% if user.admissionstatus.qualifications %}
						<a href="{% url 'admission_qualifications' %}">Completed</a>
					{% else %}
						Not Completed
					{% endif %}
				</td>

			<tr>
			<tr>
				<th class='scope'>4.</th>
				<td>Uploads</td>
				<td>Not Completed</td>
			<tr>
			<tr>
				<th class='scope'>5.</th>
				<td>Terms and Conditions</td>
				<td>Not Completed</td>
			<tr>
			<tr>
				<th class='scope'>6.</th>
				<td>Confirmation Pages</td>
				<td>Not Completed</td>
			<tr>
		</tbody>
	</table>
</section>

</section>
{% endblock %}

</section> <!-- / .container -->
</section> <!-- / .da-wrapper -->
{% endblock %}